<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
     {{!-- <a href="index.html" class="brand-wrap">
      <img
        src="/adminAssets/imgs/theme/logo.svg"
        class="logo"
        alt="Evara Dashboard"
      />
    </a>  --}}
    <a href="/admin" class="brand-wrap">
      <h2
        class="m-0"
        style="
    background: linear-gradient(to right, #e5ff00, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin:0;"
      >
        ChronoRoyale
      </h2>
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/add-product">
          <i class="icon material-icons md-add_box"></i>
          <span class="text">Add product</span>
        </a>

      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/products-list">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/orders-list">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/users-list">
          <i class="icon material-icons md-people"></i>
          <span class="text">Users</span>
        </a>
      </li>
      {{! <li class="menu-item">
        <a class="menu-link" disabled href="#">
          <i class="icon material-icons md-pie_chart"></i>
          <span class="text">Statistics</span>
        </a>
      </li> }}
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="#">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Settings</span>
        </a>

      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/logout">
          <i class="icon material-icons md-exit_to_app"></i>
          <span class="text">Logout</span>
        </a>

      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>