<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/favicon.svg">

  <!-- Admin CSS -->
  <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body class="dark">
  <main>
    {{#unless (eq title "Admin Login")}}
    {{> adminHeader}} <!-- Header partial -->
    {{/unless}}

    {{{body}}}          <!-- Page content -->

    {{#unless (eq title "Admin Login")}}
    {{> adminFooter}}
    {{/unless}}     <!-- Footer partial -->
  </main>

  <!-- JS -->
  <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
  <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
  <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
  <script src="/adminAssets/js/main.js" type="text/javascript"></script>
</body>
</html>
