<section class="content-main">
  <div class="row mt-60">
    <div class="col-sm-12">
      <div class="w-50 mx-auto text-center">
        <img
          src="/adminAssets/imgs/theme/404.png"
          width="350"
          alt="Error"
        />
        <h3 class="mt-40 mb-15">{{title}}</h3>
        <p>{{message}}</p>
        <p>Status Code: {{status}}</p>
        <a href="/" class="btn btn-primary mt-4">
          <i class="material-icons md-keyboard_return"></i> Back to main
        </a>
      </div>
    </div>
  </div>
</section>
